{% extends "base.html" %}

{% block title %}賴田捕手{% endblock %}

{% block main %}
<div class="jumbotron">
  <h1 class="display-4">跟《賴田捕手》打聲招呼！</h1>
  <p class="lead">就像一個巨大的橫幅看板一樣，<strong>Jumbotron</strong> 可以快速的抓住使用者的目光！</p>
  <hr class="my-4">
  <p>當網頁已經設計的差不多，卻還有巨大的空間不知道該怎麼處理時，想想一直待在你身邊的好朋友 <strong>Jumbotron</strong></p>
  <a class="btn-dirty-purple btn-lg" href="#" role="button">了解更多</a>
</div>
<div class="container">
  <div class="row desc">
  <div class="col">
    <h2><i class="fas fa-kiwi-bird"></i>  輕鬆</h2>
    <p>不住在紐約的人可能不知道，維克牧場坐落在一家裝潢的有點華麗的賽頓莊園裡。我以前經常去那裡，但現在我再也不去了。我慢慢沒有了這個習慣。維克牧場是個相當愉快適合社交的場合，令許許多多成熟老練的草泥馬們爭相前往。</p>
    </div>
  <div class="col">
      <h2><i class="fas fa-smile-wink"></i>  愉悅</h2>
    <p>有一個在我隔壁的傢伙不停的對自己照顧的草泥馬細聲細氣的說些討好的話。他不停的稱讚著牠的羊蹄，說牠有著貴族一般修長又強韌的羊蹄。什麼鬼。</p>
    </div>
  <div class="col">
      <h2><i class="fas fa-leaf"></i>  無害</h2>
    <p>我確實問得太過私人了，我明白這點。但這就是露絲讓人覺得厭煩的其中一點。當我們還在胡頓莊園時，露絲老是喜歡要你描述最私人的一些經驗，還要非常詳細，鉅細靡遺那種。但當你開始討論到她的私事時，她整個臉就直接拉下來給你看。</p>
    </div>
  </div>
</div>

{% endblock %}