{% extends "base.html" %}

{% block title %}賴田捕手：重頭開始{% endblock %}

{% block main %}

  <div class="container welcome">
      <div class="row">
      
      <h1><i class="fas fa-baseball-ball"></i> 賴田捕手</h1>
      <p>　　如果有人真的有興趣聽的話，那麼第一件事情想必是關於我是不是個魯蛇阿宅，不然就是我的身高體重，我平常都吃些什麼，或是家裡眷養了幾隻草尼馬等等不登大雅之堂的問題。不過呢，我並不打算說這些。事實是，我對於討論這些東西一點興趣也沒有。首先得知道的是，草尼馬們並不喜歡被人說三道四的。他們極度纖細敏感，非常重視個人隱私，重視到即使你直直瞪進他們的眼睛，你還是猜不透他們在想些什麼。我並不是在說他們城府很深什麼的，而是因為如果我還不打算進入正題的話，字數限制就要到了。因此，我只準備說一些這半年多來，我從Python、到LINE BOT、到heroku、到資料視覺化，搖搖晃晃跌跌撞撞而又漫無目的的心路歷程。這一路過來，我接受了很多人的幫助，認識或不認識，我都點滴在心。想利用這次鐵人賽的機會，把做一隻LINE BOT的程序有系統的記錄下來，將手頭上好不容易掌握住的東西梳理一遍，也算是權充感謝。關於如何解釋這隻LINE BOT的腳色定位，想了一想，覺得還挺像是個人秘書的。從收集信息，數據處理，到資料視覺化。因此這個鐵人賽的主題，即是從LINE BOT到資料視覺化的30天：賴田捕手。</p>
      </div>
    </div>

{% endblock %}

{% block script %}
<script>
  alert("從頭開始其是套用模板做出來的！");
</script>
{% endblock %}