{% extends "base.html" %}

{% block title %}賴田捕手：訓練紀錄{% endblock %}

{% block main %}

  <div class="container">
    <div class="row">
    <div class="col">
      <h1><i class="fas fa-barcode"></i> 訓練紀錄</h1>
    </div>
    </div>

  <!-- 宣告一個巨集 -->
  {% macro easy_row(data, tag) -%}
    {% for record in data %}
    <div class="row">
      {% for item in record %}
      <div class="col">
      <{{ tag }}>{{ item }}</{{ tag }}>
      </div>
      {% endfor %}
    </div>
    {% endfor %}
  {%- endmacro %}

  <!-- 宣告一些等等會用來創造欄位說明的變數 -->
  {% set col_names = (("record_no", "alpaca_name", "training", "duration", "date"),) %}

  <!-- 用巨集快速創造欄位名稱 -->
  {{ easy_row(col_names, "h2") }}

  <!-- 將所有草泥馬的訓練紀錄列在下面 -->
  {{ easy_row(html_records, "p") }}

  </div>

{% endblock %}